body {
    background-color: #098094;
    font-family: sans-serif;
}


.top-bar {
    border-top: 1px solid #EB6118;
    background-color: black;
    padding: 5 50;
    color: white;
}


.nav-bar {
    padding: 0;
    background-color: #098094;
    float: right;
}

.nav-elem {
    color: white;
    padding: 15;
    font-size: medium;
    font-weight: bold;
    height: 100%;
}

.donate-btn {
    background-color:#D14900 ;
}


.img-col {
    padding: 40 5;
}

.text-content{
    font-weight: bold;
    padding: 40 5;
}

.sqr-btn {
    color: #D14900;
    padding: 5 10;
    font-size: small;
    font-weight: bold;
    background-color: white;
    border: 2px solid #D14900;
}

.non-border-btn {
    color: #D14900;
    padding: 5 10;
    font-size: small;
    font-weight: bold;
    background-color: white;
}

.sqr-btn:hover {
    background-color: #D14900;
    color: white;
}

.info-div {
    padding: 30;
    text-align: center;
    font-size: small;
    font-weight: bold;
    background-color: #51534A;
    color: white;
}

.arrow-ref{
    color: #D14900;
    text-decoration-line: none;
    font-weight: bold;
    font-size: small;
    margin-bottom: 0%;
}

.arrow-ref:hover {
    color: #D14900;
}