body {
    background-color: #098094;
    font-family: sans-serif;
}


.top-bar {
    background-color: black;
    padding: 5 50;
    color: white;
}
@media only screen and  (min-width: 992px) {
    .top-bar {
        border-top: 1px solid #EB6118;
    }
}

.nav-bar {
    display: none;
}
@media only screen and  (min-width: 992px) {

    .nav-bar {
        display: block;
        padding: 0;
        float: right;
    }
}

.nav-elem {
    color: white;
    background-color: #098094;
    padding: 15;
    font-size: medium;
    font-weight: bold;
    height: 100%;
    cursor: pointer;
}


.donate-btn {
    background-color:#D14900 ;
}


.info-btn:hover {
    color: white;
    background-color: #43443e;
}

.mobile-btns {
    display: none;
}
@media only screen and (max-width: 991px) {
    .mobile-btns {
        display: flex;
        position: absolute;
        top: 0%;
        right: 0%;
    }
}

.srch-btn {
    background-color: #D14900;
    border: none;
    color: white;
    padding: 10;
}

.menu-btn {
    color: #D14900;
    padding: 5 10;
    font-size: small;
    font-weight: bold;
    background-color: white;
    border: none;
}
.menu-btn:hover {
    background-color: #D14900;
    color: white;
}

.corner-banner {
    position: absolute;
    background-color: white;
    width: 25%;
    height: 50%;
    border-radius: 50%;
    top: -15%;
    left: -5%;
    text-align: right;
    color: #00778B;
}

.corner-text {
    position: absolute;
    text-align: left;
    top: 40%;
    left: 30%;
}

@media screen and (max-width: 576px) {
    .corner-header {
        font-size: 50%;
    }
}

@media screen and (min-width: 768px) {
    .corner-header {
        font-size: 100%;
    }
}

@media screen and (min-width: 992px) {
    .corner-header {
        font-size: 175%;
    }
}


.main-banner {
    display: none;
}
@media only screen and  (min-width: 768px) {
    .main-banner {
        display: inline;
        position: absolute;
        top: 50%;
        left: 20%;
        color: white;
    }
}

.screen-only-img {
    display: none;
}

@media only screen and (min-width: 992px) {
    .screen-only-img {
        display: block;
    }
}

.no-ul-ref {
    color: #D14915;
    text-decoration-line: none;
    font-weight: bold;
}

.no-ul-ref:hover {
    color: hsl(17, 84%, 36%);
}


.banner {
    position: absolute;
    width: 25%;
    height: 50%;
    color: white;
    background-color: #098094;
    padding: 10;
    border-radius: 50%;
    align-content: center;
    text-align: center;
    left: 25%;
    top: 25%;
}

.banner-btn {
    position: absolute;
    left: 80%;
    top: 75%;
}

.banner-label {
    position: absolute;
    top: 30%;
    left: 25%;
}

.arrow-btn {
    background-color: white;
    width: 40px;
    height: 40px;
    padding: 10;
    border-radius: 50%;
    border: 1px solid #D14900;
}

.arrow-btn:hover {
    background-color: rgb(236, 236, 236);
}

.center-btn {
    display: none;
}
@media only screen and  (min-width: 992px){

    .center-btn{
        display: block;
        position:absolute;
        color: white;
        bottom: 12%;
        right: 15%;
    }
}


.img-col {
    padding: 40 5;
}

.cntr-img {
    width: 75%; 
    float: right;
}
.text-content{
    font-weight: bold;
    padding: 40 5 40 20;
} 

@media only screen and (max-width: 768px) {
    .cntr-img {
        display: block;
        float: none;
        margin: auto;
    }

    .img-col {
        padding: 50 5 20 5;
    }

    .text-content{
        font-weight: bold;
        padding: 10 20;
    }
}


.sqr-btn {
    color: #D14900;
    padding: 5 10;
    font-size: small;
    font-weight: bold;
    background-color: white;
    border: 2px solid #D14900;
}

.non-border-btn {
    color: #D14900;
    padding: 5 10;
    font-size: small;
    font-weight: bold;
    background-color: white;
}

.sqr-btn:hover {
    background-color: #D14900;
    color: white;
}

.info-div {
    display: none;
}

.info-div-mobile {
    display: flex;
    padding: 20;
    background-color: white;
}

@media only screen and (max-width: 900px) {

    .info-btn {
        font-weight: bold;
        width: 100%;
        height: 40%;
        color: white;
        background-color: #51534A;
        border: 2px solid #51534A;
    }
}

@media only screen and (min-width: 992px) {

    .info-div {
        display: block;
        padding: 30;
        text-align: center;
        font-size: small;
        font-weight: bold;
        background-color: #51534A;
        color: white;
    }

    .info-div-mobile {
        display: none;
    }

    .info-btn {
        font-weight: bold;
        color: white;
        background-color: #51534A;
    }
    
}

.arrow-ref{
    color: #D14900;
    text-decoration-line: none;
    font-size: small;
    font-weight: bold;
    margin-bottom: 0%;
}
@media only screen and (max-width: 768px) {
    .arrow-ref {
        padding: 10;
    }
}

.arrow-ref:hover {
    color: #D14900;
}

.image-ref{
    color: #D14915;
    text-decoration-line: none;
    font-weight: bold;
}

.image-ref:hover {
    color: #D14900;
}

.image-label {
    position: absolute;
    color: white;
    padding: 20;
    bottom: 0;
}

.image-label:hover {
    cursor: pointer;
}
